node_modules
.DS_Store
dist
dist-ssr
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.env
.env.development
.env.production
