@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Quicksand", sans-serif;
  --color-primary: #9333ea;
  --color-secondary: #009fe3; 
  /* Light mode (default) */
  --color-bg: 240 240 240;
  --color-fg: 3 7 18;
}

/* Auto dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: 3 7 18;
    --color-fg: 240 240 240;
  }
}

.dark {
  --color-bg: 3 7 18;
  --color-fg: 240 240 240;
}

/* Base styles */
@layer base {
  body {
    @apply bg-[rgb(var(--color-bg))] text-[rgb(var(--color-fg))];
  }
  h1 {
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-bold mb-3;
  }

  h3 {
    @apply text-xl font-semibold mb-2;
  }

  h4 {
    @apply text-lg font-semibold mb-1;
  }

  h5 {
    @apply text-base font-medium mb-1;
  }

  h6 {
    @apply text-sm font-medium mb-1;
  }

  p {
    @apply mb-4 leading-relaxed;
  }
}