@import "tailwindcss";
@import "@fontsource-variable/quicksand/wght.css";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --font-sans: "Quicksand", sans-serif;
  --color-primary: #9333ea;
  --color-secondary: #009fe3;
  --animate-fade-slide-in: fade-slide-in 0.5s ease-out forwards;
  --animate-fade-slide-out: fade-slide-out 0.5s ease-out forwards;
}

#root {
  isolation: isolate;
}

/* Base styles */
@layer base {
  body {
    @apply bg-gray-100 text-gray-900 dark:bg-gray-950 dark:text-gray-100 relative;
  }
  h1 {
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-bold mb-3;
  }

  h3 {
    @apply text-xl font-semibold mb-2;
  }

  h4 {
    @apply text-lg font-semibold mb-1;
  }

  h5 {
    @apply text-base font-medium mb-1;
  }

  h6 {
    @apply text-sm font-medium mb-1;
  }

  p {
    @apply mb-4 leading-relaxed;
  }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}

/* Override react-json-view styles */
:root {
  --w-rjv-font-family: monospace;
  --w-rjv-color: #6f42c1;
  --w-rjv-key-string: #6f42c1;
  --w-rjv-background-color: #ffffff;
  --w-rjv-line-color: #ddd;
  --w-rjv-arrow-color: #6e7781;
  --w-rjv-edit-color: var(--w-rjv-color);
  --w-rjv-info-color: #6b6b6b;
  --w-rjv-update-color: #ebcb8b;
  --w-rjv-copied-color: #002b36;
  --w-rjv-copied-success-color: #28a745;
  --w-rjv-curlybraces-color: #6a737d;
  --w-rjv-colon-color: #24292e;
  --w-rjv-brackets-color: #6a737d;
  --w-rjv-quotes-color: var(--w-rjv-key-string);
  --w-rjv-quotes-string-color: var(--w-rjv-type-string-color);
  --w-rjv-type-string-color: #032f62;
  --w-rjv-type-int-color: #005cc5;
  --w-rjv-type-float-color: #005cc5;
  --w-rjv-type-bigint-color: #005cc5;
  --w-rjv-type-boolean-color: #d73a49;
  --w-rjv-type-date-color: #005cc5;
  --w-rjv-type-url-color: #0969da;
  --w-rjv-type-null-color: #d73a49;
  --w-rjv-type-nan-color: #859900;
  --w-rjv-type-undefined-color: #005cc5;
}

[data-theme="dark"] {
  --w-rjv-color: #79c0ff;
  --w-rjv-key-string: #79c0ff;
  --w-rjv-background-color: #0d1117;
  --w-rjv-line-color: #94949480;
  --w-rjv-arrow-color: #ccc;
  --w-rjv-info-color: #b7b7b7;
  --w-rjv-update-color: #ebcb8b;
  --w-rjv-copied-color: #79c0ff;
  --w-rjv-copied-success-color: #28a745;
  --w-rjv-curlybraces-color: #8b949e;
  --w-rjv-colon-color: #c9d1d9;
  --w-rjv-brackets-color: #8b949e;
  --w-rjv-type-string-color: #a5d6ff;
  --w-rjv-type-int-color: #79c0ff;
  --w-rjv-type-float-color: #79c0ff;
  --w-rjv-type-bigint-color: #79c0ff;
  --w-rjv-type-boolean-color: #ffab70;
  --w-rjv-type-date-color: #79c0ff;
  --w-rjv-type-url-color: #4facff;
  --w-rjv-type-null-color: #ff7b72;
  --w-rjv-type-nan-color: #859900;
  --w-rjv-type-undefined-color: #79c0ff;
}
